<div class="inner">
  <div class="header">
    我是头部
  </div>
  <div class="content">
    <div class="menu">
      <ul id="menuList">
        <li class="menuItem">
          <a href="">
            <span>张无忌</span>
          </a>
        </li>
        <li class="menuItem">
          <a href="">
            <span>张无忌</span>
          </a>
        </li>
        <li class="menuItem">
          <a href="">
            <span>张无忌</span>
          </a>
        </li>
        <li class="menuItem">
          <a href="">
            <span>张无忌</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="contentArea">
      我是内容区
    </div>
  </div>
  <div class="footer">
    我是底部
  </div>
</div>
